.nb-card-body {
  padding: 0 !important;
}


.display-4 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.form-control-group.accept-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.label {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 30px 30px;
  margin: 30px auto 15px;
}

.card {
  background-color: #ffffff;
  padding: 15px 20px 25px;
  margin: 20px auto 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 8px;
  display: block;
  border-radius: 50%;
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fc4343;
  border-radius: 3px;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
  background-color: #4370fc;
  border-color: #4370fc;
}

.custom-checkbox:checked::after {
  content: '✔';
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox-label {
  font-size: 14px;
  color: #333;
  margin: 0;
}

input[nbInput] {
  height: 44px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 12px;
  transition: border-color 0.3s;
}

input[nbInput]:focus {
  border-color: #4370fc;
  box-shadow: 0 0 6px rgba(67, 112, 252, 0.5);
}

input[nbInput]::placeholder {
  color: #aaa;
  font-size: 13px;
}

.login-btn {
  height: 48px;
  width: 100%;
  background-color: #4370fc;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
  background-color: #365ac7;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(54, 90, 199, 0.3);
}

.login-btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.form-container {
  text-align: center;
  margin-top: 20px;
}
