<nb-card class="card">
  <nb-card class="card1">
    <nb-card-header class="titulo">
      <div class="titulo-container">
        <div class="titulo">EMPLOYEES</div>
        <button class="btn-add" (click)="openAddEmployeeModal()">+ Add Employee</button>

      </div>
    </nb-card-header>
    <nb-card-body class="body">
      <div class="top-controls">
        <button class="btn-1" (click)="copyTable()">Copy</button>
        <button class="btn-1" (click)="downloadExcel()">Excel</button>

        <button class="btn-1" (click)="downloadCSV()">CSV</button>
        <button class="btn-1" (click)="downloadPDF()">PDF</button>

        <label class="s-e">Show
          <select [(ngModel)]="entriesPerPage" (change)="onEntriesPerPageChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="'All'">All</option>
          </select>
          entries
        </label>
        <div class="search-container">
          <label for="search" class="label-inline">Search:</label>
          <input type="text" id="search" class="input-inline" [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="Search">
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-tabset>
    <nb-tab tabTitle="Employees">
      <div class="table-container" nbSppinerStatus="primary" nbSpinnerSize="giant">
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th class="header-cell">#EMP</th>
                <th class="header-cell">NAME</th>
                <th class="header-cell">DETAILS</th>
                <th class="header-cell">SHIFT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of paginatedEmployees">
                <td class="content-cell-1">{{ emp.employeeNumber }}</td>
                <td class="content-cell">
                  {{ emp.name }}
                  <div class="supervisor">Supervisor: {{ emp.supervisor }}</div>
                </td>
                <td class="content-cell">
                  {{ emp.jobDescription }}
                  <div class="area">Area: {{ emp.area }}</div>
                </td>
                <td class="content-cell-1">{{ emp.shift }}</td>
              </tr>
              <tr *ngIf="employees.length === 0">
                <td colspan="4" class="no-data">No data available in table</td>
              </tr>
            </tbody>
          </table>
          <p>Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ totalEmployees }} entries</p>
          <div class="pagination-controls">
            <button (click)="changePage('prev')" [disabled]="currentPage === 1">Previous</button>
            <button (click)="changePage('next')" [disabled]="currentPage === totalPages">Next</button>
          </div>
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
