@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
@include nb-theme-global();
};
.nb-theme-corporate nb-card-body {
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: 0px;
    position: relative;
}